<ion-header [translucent]="true"> 
  <ion-toolbar>
    
    <ion-title class="ion-float-left">
      Collection
    </ion-title>
    <ion-title class="ion-float-right"><svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-journal-album" viewBox="0 0 16 16">
      <path d="M5.5 4a.5.5 0 0 0-.5.5v5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-.5-.5h-5zm1 7a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3z"/>
      <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
      <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
    </svg> </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        startpage
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let collect of collections, let i = index" (click)="navigateTo(i)">  
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>{{collect.title}}</ion-card-title>
    <ion-card-subtitle *ngIf="numberOfItems[i]==1">{{numberOfItems[i]}} Item</ion-card-subtitle>
    <ion-card-subtitle *ngIf="numberOfItems[i]>1">{{numberOfItems[i]}} Items</ion-card-subtitle>
  </ion-card-header>
  </ion-card>
</ion-content>




<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  
    <ion-fab-button>
      <ion-tab-button tab="add-structure">
      <ion-icon name="add"></ion-icon>
      </ion-tab-button>
    </ion-fab-button>
  
</ion-fab>