<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-float-left">
      {{this.collection[this.currentID].title}}
    </ion-title>
    <ion-title class="ion-float-right">
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container [loop]="true">
    <swiper-slide *ngFor="let item of orderedItems">
      <ion-row>
        <ion-col size="12" *ngFor="let content of collection[this.currentID].fields, let i = index">
          {{content.title}}: {{item[i]}}
        </ion-col>
      </ion-row>
    </swiper-slide>
    </swiper-container>
</ion-content>
