<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-float-left">
      {{this.collection[this.currentID].title}}
    </ion-title>
    <ion-title class="ion-float-right">
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container [loop]="true">
    <swiper-slide *ngFor="let item of orderedItems">
      <ion-row>
        <ion-img
  [src]="item[item.length-1][0].webviewPath"
  alt="Here should be an image"
></ion-img>
      </ion-row>
      <ion-row *ngFor="let content of collection[this.currentID].fields, let i = index">
        <ion-col size="12" *ngIf="content.title=='Bezeichnung'">
          <ion-text><h1>{{item[i]}}</h1></ion-text>
        </ion-col>
        <ion-col size="6" *ngIf="content.title!='Bezeichnung' && content.field=='string' || content.field=='bool' ||content.field=='date' ||content.field=='number'">
          {{content.title}}
        </ion-col>
        <ion-col size="6" *ngIf="content.title!='Bezeichnung' && content.field=='string' || content.field=='date' ||content.field=='number'">
          {{item[i]}}
        </ion-col>
        <ion-col size="6" *ngIf="content.field=='bool'">
          <!-- {{item[i]}} -->
          <ion-checkbox [(ngModel)]="item[i]" [readonly]="true"></ion-checkbox>
        </ion-col>
      </ion-row>
    </swiper-slide>
    </swiper-container>
</ion-content>
