<ion-header [translucent]="true"> 
  <ion-toolbar>
    
    <ion-title class="ion-float-left ion-justify-items-center">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Add new Collection
    </ion-title>
    <ion-title class="ion-float-right"><svg  xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-journal-album" viewBox="0 0 16 16">
      <path d="M5.5 4a.5.5 0 0 0-.5.5v5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-.5-.5h-5zm1 7a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3z"/>
      <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
      <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
    </svg> </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Start DataStructure</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-button (click)="saveInput()">Save</ion-button> -->
  <!-- <ion-button (click)="clearInput()">Clear</ion-button> -->

  <ion-row>
    <ion-col>
      <ion-input [(ngModel)]="newTitle" label="Title" label-placement="floating" fill="outline" placeholder="New Title"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let input of newInputs, let i = index" class="ion-align-items-center">
    <ion-col>
        <ion-input *ngIf="i<=1" [(ngModel)]="input.title" fill="outline" [readonly]="true" placeholder="Bezeichnung"></ion-input>
        <ion-input *ngIf="i>1" [(ngModel)]="input.title" fill="outline" placeholder="Category Name"></ion-input>
    </ion-col>
    <ion-col>
            <ion-select *ngIf="i>1" [(ngModel)]="input.field" interface="popover" required fill="outline" placeholder="Category Type">
              <ion-select-option value="string">Text</ion-select-option>
              <ion-select-option value="number">Number</ion-select-option>
              <ion-select-option value="bool">Checkbox</ion-select-option>
              <ion-select-option value="date">Date</ion-select-option>
              <ion-select-option value="time">Time</ion-select-option>
            </ion-select>

            <div *ngIf="i<=1" class="inputText">
              <ion-input *ngIf="input.field == 'string'" fill="outline" [readonly]="true" placeholder="Text"></ion-input>
              <ion-input *ngIf="input.field == 'images'" fill="outline" [readonly]="true" placeholder="Images"></ion-input>
            </div>
    </ion-col>
    <ion-col size="auto">
      <ion-button *ngIf="i > 1" (click)="decreaseInputs(i)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
      </ion-button>
  </ion-col>
  </ion-row>
  <ion-button (click)="increaseInputs()">Add</ion-button>
  

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let name of getData.ds_names; index as position">
        <ion-header>{{name}}</ion-header>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
  
    <ion-fab-button (click)="saveInput()">
      <!-- <ion-tab-button tab="startpage"> -->
        <ion-icon name="save-outline"></ion-icon>      
      <!-- </ion-tab-button> -->
    </ion-fab-button>
  
</ion-fab>
</ion-content>
