<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-float-left">
      Daten anlegen: {{listOfStructures[getID()].title}}
    </ion-title>
    <ion-title class="ion-float-right">
      <app-logo></app-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
      <div *ngIf="isLoaded == true">
      <ion-row *ngFor="let fields of listOfStructures[currentStructure].fields, let i = index">

        <ion-col *ngIf="fields.field == 'string'">
          <ion-input [(ngModel)]="content[i]" fill="outline" placeholder="{{fields.title}}">
          </ion-input>        
        </ion-col>

        <ion-col *ngIf="fields.field == 'number'">
          <ion-input [(ngModel)]="content[i]" type="number" fill="outline" placeholder="{{fields.title}}">
          </ion-input>        
        </ion-col>

        <ion-col *ngIf="fields.field == 'date'">
          <ion-input [(ngModel)]="content[i]" type="date" fill="outline" placeholder="{{fields.title}}">
          </ion-input>        
        </ion-col>
        
        <ion-col *ngIf="fields.field == 'bool'">
          <ion-checkbox [(ngModel)]="content[i]">{{fields.title}}</ion-checkbox>
        </ion-col>
        
        <ion-col *ngIf="fields.field == 'images'">
          <!-- <ion-input [(ngModel)]="content[i]" type="file" label-placement="floating" fill="outline" label="{{fields.title}}">
          </ion-input>   -->
          <ion-button (click)="addPhotoToGallery(i)">
            Add Images
            <ion-icon slot="end" name="camera"></ion-icon>
          </ion-button>      
        </ion-col>
      
      </ion-row>
    </div>
  </ion-grid>

</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  
  <ion-fab-button (click)="rearangeData()">
    <!-- <ion-tab-button tab="startpage"> -->
      <ion-icon name="save-outline"></ion-icon>      
    <!-- </ion-tab-button> -->
  </ion-fab-button>

</ion-fab>