<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="isLoaded == true" >{{currentCollection[getID()].title}}</ion-title>
    <ion-title *ngIf="isLoaded == false" >Notfall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" >
    <ion-toolbar>
      <ion-title size="large">singleSammlung</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>



<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  
  <ion-fab-button>
    <ion-tab-button tab="additem">
    <ion-icon name="add"></ion-icon>
    </ion-tab-button>
  </ion-fab-button>

</ion-fab>