<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="isLoaded == true" >{{currentCollection[getID()].title}}</ion-title>
    <ion-title *ngIf="isLoaded == false" >Titel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="5" *ngFor="let photo of myImages; index as position">
        <ion-tab-button tab="item">
          <ion-thumbnail>
            <img alt="Silhouette of mountains" [src]="photo.webviewPath" />
          </ion-thumbnail>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  
  <ion-fab-button>
    <ion-tab-button tab="additem">
    <ion-icon name="add"></ion-icon>
    </ion-tab-button>
  </ion-fab-button>

</ion-fab>